.team-img {
    margin-top: 10px;
    border-radius: 50%;
    height: 100px;
    position: relative;
    bottom: 30px;
    right: -35px;
    float: left;
    width: 150px;
}

img {
    width: 100%;
}

.otherTeam {
    display: inline-table;
    align-items: inherit;
    width: 28%;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: -8px -2px 28px -8px #000000;
}


