/* Style inputs with type="text", select elements and textareas */
button[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #e10600;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .editForm {
    width: 30vw;
    margin-left: 35vw;
  }

  .editErrors {
    color: #e10600;
  }