.schedule .other-schedule-list {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.otherSchedule {
    align-items: inherit;
    width: 15%;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: -8px -2px 28px -8px #000000;
}

.otherSchedule p {
    height: 40px;
}

#customers {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e10600;
    color: white;
    text-align: center;
  }

  #customers > thead > tr > th:nth-child(2){
    text-align: left;
  }

  thead :nth-child(1) {
    width: 10%;
  }

  #customers > tbody > tr > td:nth-child(2) {
    text-align: left;
  }

  .back-button {
    width: 10%;
  }
