footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .resize {
    width: 4em;
    height: 3em;
    margin-right: 1700px;
  }

  .sameRow {
    display: inline-block;
    vertical-align: top;
  }